@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {

    /* FONTE */
    --font:'Inter', sans-serif;

    /* GLOBAIS */
    --preto: black;
    --branco: white;

    /* HEADER */
    --Car:#FF6600;

    /* MAIN */
    --Gray: #d9d9d9;
    --Red: #ff0000;

}

body {
    font-family: var(--font);
    width: 97.4%;
}


a {
    text-decoration: none;
    color: black;
}

#menu {
    display: flex;
    font-size: 40px;
    color: var(--branco);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--preto);
    color: var(--branco);
    justify-content: space-between;
    padding: 20px 10px;
    width: 100%;
    text-indent: 25px;
}

header h1 {
    font-size: 25px;
    padding-right: 20px;
}

header > h1 > span:nth-child(2) {
    margin-left: -6px;  
    color: var(--Car);
}

section#welcome {
    padding: 20px 0;
    border: none;
    margin: auto;
    width: 100vw;
}


#welcome h1 {
    display: flex;
    font-size: 22px;
    flex-flow: column;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.418);
}

#welcome span.destaque:nth-child(1) {
    font-size: 35px;
    font-weight: bold;
}

#welcome span:nth-child(1) {
    font-weight: lighter;
}

#welcome span:nth-child(3) {
    color: var(--Car);
    margin-left: -6px;
}

#welcome p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--Car);
    text-decoration-thickness: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.377);
}

/* ------------ MAIS POPULARES -------- */

#popular {
    background-color: var(--preto);
}

#popular h2 {
    color: var(--branco);
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

#divs {
    display: flex;
    flex-direction: column;
}

.red2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}

.red2-1 {
    width: 100px;
    background-color: var(--Red);
}

.red2-2 {
    width: 100px;
    background-color: var(--Red);
}

.gray {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin-top: -215px;
}

.gray1-1 {
    background-color: var(--Gray);
    width: 150px;
    margin-left: 15px;
}

.gray1-2 {
    background-color: var(--Gray);
    width: 100px;
    margin-right: 15px;
    padding-left: 50px;
}

.red1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
    margin-left: 102px;
    margin-top: -220px;
    margin-bottom: 200px;
}

.red1-1 {
    background-color: var(--Red);
    width: 130px;
    padding: 0 20px;
}