@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: var(--font);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

header h1, nav{
    background-color: black;
    color: white;
    display: flex;
}

header a {
    color: var(--white);
    font-weight: bold;
    font-size: 1.2em;
}

header h1 {
    padding: 30px 40px;
    font-size: 2em;
}

header span:nth-child(2) {
    color: var(--orange-primary);
}

header nav {
    gap: 70px;
    padding: 30px 50px;
}

#welcome h2, p{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#welcome h2 {
    margin-top: 60px;
    font-size: 1.8em;
}

#welcome p {
    margin-top: 15px;
    font-size: 1.1em;
}

#welcome span:nth-child(1) {
    padding-left: 5px;
    font-weight: bold;
}

#welcome span:nth-child(2) {
    color: var(--orange-primary);
    font-weight: bold;
}

footer {
    background-color: var(--Gray);
    width: 100%;
    height: 10vh;
}

div#mnft {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}