@charset "UTF-8";

body {
    font-family: var(--font);
    width: 100%;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: black;
}

#menu {
    display: flex;
    font-size: 40px;
    color: var(--white);
}

header {
    display: flex;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    justify-content: space-between;
    padding: 20px 10px;
    width: 100%;
    text-indent: 25px;
}

header h1 {
    font-size: 25px;
    padding-right: 20px;
}

header > h1 > span:nth-child(2) {
    margin-left: -6px;  
    color: var(--orange-primary);
}

main h2{
    margin: 30px 0;
    text-align: center;
    font-weight: bolder;
}

#search-wapper {
    display: flex;
    justify-content: center;
}

#search {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 7px;
}

input[type="search"] {
    border: none;
    border-radius: 7px;
    width: 290px;
}

input[type="search"]::placeholder {
    color: var(--Ph);
}

#search span {
    padding: 0px 8px 1px 0px;
}

#filters h3 {
    font-weight: bolder;
}

#theme{
    display: flex;
    gap: 10px;
}


.box {
    display: inline-block;
    background-color: var(--black);
    color: var(--white);
    padding: 2px 6px;
    text-align: center;
    border-radius: 10px;
}

#theme > p:nth-child(2) {
    padding: 2px 19px;
}
